<app-header></app-header>
<app-navbaradmin></app-navbaradmin>

<div *ngIf="loggedAdmin">
  <h1>{{error}}</h1>

  <div id="rentals">

      <h1><span class="glyphicon">&#xe032;</span> Lista wypożyczeń <span class="glyphicon">&#xe032;</span></h1>
    <br>
    
  <div *ngFor="let rental of rentals">
    
    <button class="button" (click)="showMovies(rental)"><span class="glyphicon">&#xe086;</span><b> {{rental.user.userName}} </b> <span class="glyphicon">&#xe086;</span> </button>
    <br>
     
      <table *ngIf="rental.rentalShow" id="mrentals">
          <tr>
      <tr style="background-color: rgb(99, 64, 0)">
        
        <th>Tytuł</th>
        <th>Gatunek</th>
        <th>Reżyser</th>
        <th>Rok produkcji</th>
        <th>Data wypożyczenia</th>
        <th>Data zwrotu</th>
      </tr>
      <tr *ngFor="let movie of rental.movies">
        <th>{{movie.title}}</th>
        <th><p *ngFor="let type of movie.types">{{type.name}}</p></th>
        <th>{{movie.director}}</th>
        <th>{{movie.productionYear}}</th>
        <th>{{rental.rentalTime}}</th>
        <th>{{rental.returnTime}}</th>

      </tr>
    </table>
    <br>
  </div>
</div>
</div>
