#rentals{
    background-color: rgb(70, 70, 70);
    color:orange;
    border: 2px solid orange;
    border-radius: 5px;
    margin-top:10px;
    margin-left: 18%;
    margin-right:18%;
    text-align: center;
    padding: 20px;
    box-shadow: 5px 10px #ee8f00
  }
  
  #rental{
    background-color: rgb(70, 70, 70);
    color:orange;
    border: 2px solid orange;
    border-radius: 5px;
    margin-top:10px;
    margin-left: 10%;
    margin-right:10%;
    padding-bottom: 10px;
    text-align: auto;
  }

  #mrentals {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    
  }
  
  #mrentals td, #mrentals th {
    border: 2px solid #ddd;
    padding: 8px;
  }
  
 
  #mrentals th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }

  button {
    background-color: orange; 
    color:  black;
    border: 0px;
    padding: 5px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5em;
    
  }
  
  button:hover {
    background-color: black;
    
      color: orange;
      border-radius: 5em;
  }

  .button1 {
    background-color: orange; 
    color: rgb(1, 44, 1); 
    border: 5px solid rgb(1, 44, 1);
    padding: 3px 10px;
    text-shadow: 0px 1px 1px black, 0 0 25px black, 0 0 1px black;
    
  }

  
  
  .button1:hover {
    background-color:rgb(1, 44, 1);
    color: orange;
    border: 5px solid orange;
    padding: 3px 10px;
  }
  
  
  