<app-header></app-header>
<app-navbar></app-navbar>

<div id="rentals">

  <h1><span class="glyphicon">&#xe025;</span> Moje wypożyczenia <span class="glyphicon">&#xe025;</span></h1>
  <br>

  <div *ngIf="logged">
    <h1>{{error}}</h1>

    <div *ngFor="let rental of rentals">
      <button class="button" (click)="showMovies(rental)"><span class="glyphicon glyphicon-list-alt"></span><b> {{rental.rentalTime}} </b><span class="glyphicon glyphicon-list-alt"></span></button>
      <br>

      <table *ngIf="rental.rentalShow" id="mrentals">
        <tr style="background-color: rgb(99, 64, 0)">
          <th>Tytuł</th>
          <th>Gatunek</th>
          <th>Reżyser</th>
          <th>Rok produkcji</th>
        </tr>
        <tr *ngFor="let movie of rental.movies">
          <th>{{movie.title}}</th>
          <th>
            <p *ngFor="let type of movie.types">{{type.name}}</p>
          </th>
          <th>{{movie.director}}</th>
          <th>{{movie.productionYear}}</th>
        </tr>
      </table>
      <br>
    </div>
  </div>
</div>