<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   


<div>
   
<ul>
    <li><a  class="w3-xxlarge" href="#home"><i class="fa fa-home"></i></a></li>


  <li><a href="#news">News</a></li>

  <li><a href="#contact">Lista filmów</a></li>

  <li><a href="#about">About</a></li>

  <li style="float:right"><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

  <li style="float:right"><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

</ul>

</div>