#movies{
    background-color: rgb(70, 70, 70);
    color:orange;
    border: 2px solid orange;
    border-radius: 5px;
    margin-top:5px;
    margin-left: 10%;
    margin-right:10%;
    text-align: center;
}


#movie{
    background-color: rgb(70, 70, 70);
    color:orange;
    border: 2px solid orange;
    border-radius: 5px;
    margin-top:5px;
    margin-left: 10%;
    margin-right:10%;
    text-align: center;
}

p{
    font-size: 17px;
}

.button {
    background-color: orange; 
    border: 5px solid rgb(85, 2, 2);
    color: rgb(85, 2, 2);
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5em;
  }

  .button:hover {
    background-color:rgb(85, 2, 2);
    color: orange;
    border: 5px solid orange;
  }

p{
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    color: rgb(179, 179, 179);
}

b{
    text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
    color: orange;
}