<app-header></app-header>
<app-navbaradmin></app-navbaradmin>

<div *ngIf="loggedAdmin">
  <div *ngFor="let user of users">
    <p>ID: {{user.id}}</p>
    <p>UserName: {{user.userName}}</p>
    <p>Email: {{user.email}}</p>
    <div *ngFor="let role of user.roles">
      <p>Role ID: {{role.id}}</p>
      <p>Role Name: {{role.name}}</p>
      <button type="button" (click)="changePermissions(user.userName, role.name)"><div *ngIf="role.name==='admin'">Usuń uprawnienia administratora</div><div *ngIf="role.name==='user'">Dodaj uprawnienia administratora</div></button>
    </div>
   
    <br>
    <br>
  </div>
</div>