<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<app-header></app-header>
<app-navbaradmin></app-navbaradmin>


<div id="users">

  <h1><span class="glyphicon">&#xe008;</span> Lista użytkowników <span class="glyphicon">&#xe008;</span></h1>
  <br>


  <div *ngIf="loggedAdmin">
    <div *ngFor="let user of users">
      <div *ngFor="let role of user.roles">
        <div id="user">
          <p>ID: {{user.id}}</p>
          <p>Name: {{user.userName}}</p>
          <p>E-mail: {{user.email}}</p>
          <p>Role ID: {{role.id}} || {{role.name}}</p>

          <button class="button" (click)="changePermissions(user.userName, role.name)">
            <div id="adminb" *ngIf="role.name==='admin'"><span class="glyphicon">&#xe014;</span> Usuń uprawnienia administratora</div>
            <div id="userb" *ngIf="role.name==='user'"><span class="glyphicon">&#xe013;</span> Dodaj uprawnienia  administratora</div>
          </button>
          
        </div>
      </div>
      <br>

    </div>
  </div>
</div>