<app-header></app-header>
<app-navbaruser></app-navbaruser>

<div id="movies">
  <h1><span class="glyphicon">&#xe009;</span> Mój koszyk <span class="glyphicon">&#xe009;</span></h1>
  <br>
  <button *ngIf="showBorrowButton" class="button" (click)="borrow()"><span class="glyphicon">&#xe013;</span> WYPOŻYCZ FILMY <span class="glyphicon">&#xe013;</span></button>
  <h1 *ngIf="!showBorrowButton">PUSTY KOSZYK :OOOO</h1>

    <div *ngFor="let movie of movies">

        <div id="movie">
          <p>Tytuł: <b>{{movie.title}}</b></p>
          <p>Gatunek: <b *ngFor="let type of movie.types">{{type.name}}</b></p>
          <p>Reżyser: <b>{{movie.director}}</b></p>
          <p>Rok produkcji: <b>{{movie.productionYear}}</b></p>
          <p>Opis: <b>{{movie.description}}</b></p>

          <button class="button1" (click)="removeMovie(movie)"><span class="glyphicon">&#xe020;</span> Usuń
            film z koszyka</button>

        </div>
        <br>
      </div>
  
</div>