<app-header></app-header>
<app-navbaruser></app-navbaruser>

<div id="movies">
  <h1><span class="glyphicon">&#xe009;</span> Mój koszyk <span class="glyphicon">&#xe009;</span></h1>
  <br>

    <div *ngFor="let movie of movies">
      <div *ngFor="let type of movie.types">

        <div id="movie">
          <p>Tytuł: <b>{{movie.title}}</b></p>
          <p>Gatunek: <b>{{type.name}}</b></p>
          <p>Reżyser: <b>{{movie.director}}</b></p>
          <p>Rok produkcji: <b>{{movie.productionYear}}</b></p>
          <p>Opis: <b>{{movie.description}}</b></p>

          <button class="button" (click)="removeMovieType(type.name)"><span class="glyphicon">&#xe020;</span> Usuń
            film z koszyka</button>


        </div>
        <br>
      </div>
    </div>
  
</div>