<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div>
   
<ul>
  <li><a href="#" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span> Baza Filmów</a></li>

  <li><a href="/rentals" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-download-alt"></span> Moje Wypożyczenia</a></li>

  <li><a href="/cart" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-shopping-cart"></span> Koszyk ({{value}})</a></li>

  <li *ngIf="loggedAdmin"> <a href="/admin" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-cog"></span> Panel administratora</a></li>

  <li style="float:right"><a (click)="logout()" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-out"></span> Wyloguj!</a></li>
 
  <li style="float: right"><span style="color: orange; top:8px; font-size: 25px" class="glyphicon">&#xe008; {{loggedAs}} </span></li>

  
</ul>



</div>