  <table border="2">
    <tr>
      <td>Nazwa</td>
      <td>Typ</td>
      <td>Reżyser</td>
      <td>Rok Produkcji</td>
      <td>Opis</td>
      <td>Ilość wypożyczeń</td>
      <td>Ocena</td>
    </tr>
      <tr *ngFor="let movie of movies">
        <td>{{ movie.name }}</td>
        <td>{{ movie.type }}</td>
        <td>{{ movie.director }}</td>
        <td>{{ movie.productionYear | date: "dd/MM/yyyy" }}</td>
        <td>{{ movie.description }}</td>
        <td>{{ movie.borrowsQuantity }}</td>
        <td>{{ movie.rate }}</td>
      </tr>
  </table>
