

<div class="w3-container">
<br>
<h1 style="text-align: center">TOP 5 Najlepiej ocenianych filmów!</h1>
<br>



<table border="2">
   
     <th> <h2 style="float: left;">1</h2>
      <img src="assets\skazanis.jpg" alt="skazani" height="150px" width="100px">

         Skazani na Shawshank (1994)
         <div *ngIf="button" >
               <h1></h1>
             </div>
             <div *ngIf="button==false">
               Adaptacja opowiadania Stephena Kinga. Niesłusznie skazany na<br> dożywocie bankier, stara się przetrwać w brutalnym, więziennym świecie.
             </div>
             
     </th>
     
     <th style="float: right">

         <h3>Ocena: 5/5 <span class="glyphicon">&#xe006;</span></h3>
         <button class="w3-button w3-black w3-round-xlarge" (click)="opis()">Opis filmu</button>
         <br>
      
     </th>
   
</table>

<table border="2">
      <div class="clearfix">
            <div class="box" style="background-color:#bbb">

            <h3 style="float: left">1</h3>
            <img src="assets\skazanis.jpg" alt="skazani" height="150px" width="100px">

            Skazani na Shawshank (1994)
            </div>
            <div class="box" style="background-color:#ccc">
                  reżyseria:	Frank Darabont
                  <br>gatunek:	Dramat
                  <br>produkcja:	USA
                  <div *ngIf="button" >
                        <h1></h1>
                      </div>
                      <div *ngIf="button==false">
                        Adaptacja opowiadania Stephena Kinga. Niesłusznie skazany na<br> dożywocie bankier, stara się przetrwać w brutalnym, więziennym świecie.
                      </div>
            </div>
            <div class="box" style="background-color:#ddd">
            <h3>Ocena: 5/5 <span class="glyphicon">&#xe006;</span></h3>
         <button class="w3-button w3-black w3-round-xlarge" (click)="opis()">Opis filmu</button>
            </div>
          </div>
</table>


<table border="2">
   <tr>flim</tr>
</table>

<table border="2">
   <tr>flim</tr>
</table>

<table border="2">
   <tr>flim</tr>
</table>

<table border="2">
   <tr>flim</tr>
</table>
</div>
