<app-header></app-header>
<app-navbar></app-navbar>
<app-footer></app-footer>



<div style="border: 2px solid orange; border-radius: 5px;" id="movies">
  <h1 style="text-align: center;"><span class="glyphicon">&#xe009;</span> Filmy <span class="glyphicon">&#xe009;</span>
  </h1>
  <br>
  <div>
    <select (change)="selectOption($event.target.value)" name="sort">
      <option value="title">Tytuł</option>
      <option value="rate">Ocena</option>
    </select>
    <input (click)="inputOption('desc')" type="radio" name="sort" value="2" /> Malejąco
    <input (click)="inputOption('asc')" style="margin-left: 10px" type="radio" name="sort" value="4" />Rosnąco
  </div>

  <br>

  <div *ngFor="let movie of movies">
    <div id="movietit" style="color:white; text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black">
      {{movie.title}} </div>

    <div id="movie">

      <p style="float: left; ">Data produkcji: <b>({{movie.productionYear}})</b></p>

      <p style="float: left;"> Gatunek:</p>

      <div style="float: left; padding-top: 15px" *ngFor="let type of movie.types"><b> {{type.name}} </b> </div>
      <p style=" float: left;">Reżyser: <b>{{movie.director}}</b></p>
      <br>

      <p>Opis: <b>{{movie.description}}</b></p>
      <br>

      <p class="rating"> 
        <button *ngIf="logged">☆</button> <b *ngIf="logged"> 5</b>
        <button *ngIf="logged">☆</button> <b *ngIf="logged"> 4</b>
        <button *ngIf="logged">☆</button> <b *ngIf="logged"> 3</b>
        <button *ngIf="logged">☆</button> <b *ngIf="logged"> 2</b>
        <button *ngIf="logged">☆</button> <b *ngIf="logged"> 1</b>
          <b style="word-spacing: 5px;"> 5/{{movie.rate}} </b> :anecO 
      </p>
      
    

      <button onclick="document.getElementById('id03').style.display='block'" class="btn btn-info btn-lg"
        style="width:auto;" style=" float:right" *ngIf="logged" class="button" data-hover="Dodaj do koszyka"
        (click)="addMovieToCart(movie)"><span class="glyphicon">&#xe116;</span></button>

      <div id="id03" class="modal">

        <form  #formData="ngForm" class="modal-content animate"
          action="/action_page.php">
          <div class="imgcontainer">

          </div>

          <div class="container">
            <h1 style="color: orange">Film został dodany do koszyka</h1>
          </div>

          <p><button style="float: right" type="button" onclick="document.getElementById('id03').style.display='none'"
              class="cancelbtn">OK</button></p>


        </form>
      </div>
    </div>
    <br>
  </div>
</div>